<div ng-controller="EditPlaneCtrl" xmlns="http://www.w3.org/1999/html">

    <div content-for="title">
        <span>EditPlane</span>
    </div>

    <div content-for="navbarAction">
        <div class="btn btn-navbar">
            <i class="fa fa-plus"></i>EP
        </div>
    </div>

    Edit Plane<br>
    <a href="#/selectPlanemodelForPlane/{{ selectedPlane.id }}">select planemodel</a>

    Selected Plane:

    Registration: <input ng-model="planes[selectedPlaneIndex].reg"><br>
    Airline: <input ng-model="planes[selectedPlaneIndex].airline"><br>



    <a ng-click="test()">test</a>

</div>