<!--<div ng-controller="PlanemodelsListCtrl">-->

<div content-for="title">
    <span>Planemodels</span>
</div>

<div content-for="navbarAction">
    <div class="btn btn-navbar">
        <i class="fa fa-plus"></i>PM
    </div>
</div>


<!--<br>-->
<!--id: {{ planemodels[planemodelIndex].id }}<br>-->
<!--manufacturer:<br>-->
<!--<input ng-model="(planemodels)[planemodelIndex].manufacturer" type="text"><br>-->
<!--model:<br>-->
<!--<input ng-model="(planemodels)[planemodelIndex].model" type="text"><br>-->
<!--ICAO:<br>-->
<!--<input ng-model="(planemodels)[planemodelIndex].icao" type="text"><br>-->

<!--<a ng-click="planemodel_prev()"-->
<!--class="btn btn-default btn-sm">-->
<!--&lt;!&ndash;ng-class="{disabled: planemodelIndex<1}"&ndash;&gt;-->

<!--Previous-->
<!--</a>-->

<!--{{ planemodelIndex +1}} / {{ (planemodels|filter: query).length}}</li>-->

<!--<a ng-click="planemodel_next()"-->
<!--class="btn btn-default btn-sm">-->
<!--&lt;!&ndash;ng-class="{disabled: planemodelIndex>(planemodels.length-2}"&ndash;&gt;-->

<!--Next-->
<!--</a>-->


<!--<div class="navbar navbar-app navbar-absolute-bottom">-->
<!--<div class="btn-group justified">-->
<!--<a ng-click="addPlanemodel()" class="btn btn-navbar"><i class="fa fa-plus"></i>add Planemodel</a>-->
<!--</div>-->
<!--</div>-->

<!--<div class="scrollable">-->
<!--<div class="scrollable-content">-->
<div class="list-group">

    <div ng-repeat="planemodel in planemodels">
        <a class="list-group-item" href="#/showPlanes">
            {{ planemodel.manufacturer }} {{ planemodel.model }}
            <i class="fa fa-chevron-right pull-right"></i>
        </a>
    </div>
</div>

<!--</div>-->