<div ng-controller="PlanesListCtrl" xmlns="http://www.w3.org/1999/html">


<div content-for="title">
        <span>Actions</span>
    </div>

    <div content-for="navbarAction">
        <div class="btn btn-navbar">
            <i class="fa fa-plus"></i>PLA
        </div>
    </div>

    <a ng-click="clearPlanesFromLocalStorage()"
       class="btn btn-primary">
        clearPlanesFromLocalStorage
    </a>

    <a ng-click="initPlanes()"
       class="btn btn-primary">
        init Planes
    </a>

    <a ng-click="savePlanes()"
       class="btn btn-primary">
        save Planes
    </a>

    <a ng-click="importPlanes()"
       class="btn btn-primary">
        import Planes
    </a>



    <a ng-click="updateArrayPlanemodels()"
       class="btn btn-primary">
        updateArrayPlanemodels</a>


</div>