<!--<div ng-controller="PlanemodelsListCtrl">-->

<div content-for="title">
    <span>Actions</span>
</div>

<div content-for="navbarAction">
    <div class="btn btn-navbar">
        <i class="fa fa-plus"></i>AC
    </div>
</div>


<br>
<a class="btn btn-primary" ng-click="openDatabase()">open Database</a>
<a class="btn btn-primary" ng-click="saveDatabase()">save Database</a>
<a class="btn btn-primary" ng-click="showList()">showList</a>
<a class="btn btn-primary" ng-click="showObjectStores()">showObjectStores</a>
<a class="btn btn-danger" ng-click="deleteAllPlanemodelsFromDatabase()">deleteAllPlanemodelsFromDatabase</a>
<a class="btn btn-primary" ng-click="loadPlanemodels_web()">loadPlanemodelsFromJOSN_web</a>
<a class="btn btn-primary" ng-click="loadPlanemodels_pg()">loadPlanemodelsFromJOSN_pg</a>

<br>

<a class="btn btn-success" ng-show="databaseConnected==true">DB is connected</a>
<a class="btn btn-danger" ng-show="databaseConnected==false">DB is not connected</a>

<!--</div>-->