
<br>
<a class="btn btn-primary" ng-click="openDatabase()">open Database</a><br>
<a class="btn btn-primary" ng-click="deleteAllPlanesFromDatabase()">delete all Planes</a><br>



<a class="btn btn-primary" ng-click="initPlanesPage()">initPlanesPage</a><br>
<a class="btn btn-primary" ng-click="loadPlanes_web()">loadPlanesFromJOSN_web</a><br>
<a class="btn btn-primary" ng-click="loadPlanes_pg()">loadPlanesFromJOSN_pg</a><br>


<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        {{ planes.length }} planes
    </div>
</div>