<!--<div content-for="title">-->
    <!--<span>Add Planemodel</span>-->
<!--</div>-->

<!--<div content-for="navbarAction">-->
    <!--<div class="btn btn-navbar">-->
        <!--<i class="fa fa-plus"></i>APM-->
    <!--</div>-->
<!--</div>-->


manufacturer<br>
<input ng-model="planemodelManufacturer" type="text"/><br>

model<br>
<input ng-model="planemodelModel" type="text"/><br>


ICAO<br>
<input ng-model="planemodelIcao" type="text"/><br>

<a ng-click="savePlanemodel()" class="btn btn-primary">
 save in database
</a>



